{erl_opts, [{parse_transform, lager_transform}]}.
{lib_dirs,["deps"]}.

{deps, [
    {'lager', ".*", {git, "git://github.com/basho/lager.git", "master"}},
    {'cowboy', ".*", {git, "git://github.com/extend/cowboy.git", {tag, "1.0.0"}}},
    {jsx,     "2.8.2", {git, "https://github.com/talentdeficit/jsx.git",  {tag,"v2.8.2"}}},
    {rec2json, ".*", {git, "https://github.com/lordnull/rec2json.git", "master"}},
		{gpio, "", {git, "git://github.com/paoloo/gpio.git"}}		
]}.

{port_env, [
		{"CC", "cc"},
	    {"CFLAGS", "-Wall -O2"}
	   ]}.


{port_specs, [
	      {"(linux|freebsd|darwin)","priv/kx3_control_port",
	       [ "c_src/kx3_control_port.c",
	         "c_src/kx3_control.c"
	       ]},
	      {"(linux|freebsd|darwin)","priv/hr50_control_port",
	       [ "c_src/hr50_control_port.c",
	         "c_src/hr50_control.c"
	       ]}	
	     ]}.
